.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.control-container {
  padding: 1rem;
  width: 300px;
  margin: 0 auto;
}

.add-btn {
  background-color: #000000;
  color: #fff;
  outline: none;
  border-radius: 5px;
}

.row {
  display: flex;
  gap: 16px;
  margin: 8px 0;
  flex-wrap: wrap;
}

label {
  width: 150px;
}