<div class="control-container">
  <h3>Settings</h3>
  <form [formGroup]="controls">
    <div class="row">
      <label>Player Name</label>
      <input formControlName="player" />
    </div>
    <h3>Slices</h3>
    <div class="row" formArrayName="slices">
      <div class="row" *ngFor="let item of slices.controls; let i = index">
        <div [formGroupName]="i">
          <select formControlName="key" placeholder="Slice Name">
            <option *ngFor="let opt of listSlice" [ngValue]="opt.key">
              {{ opt.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <button (click)="addSlice()" class="add-btn">+ Add slice</button>
    <button (click)="removeSlice()" class="add-btn">- Remove slice</button>
    <button (click)="refreshSlices()" class="add-btn">Refresh</button>
  </div>
</div>
<div class="app-container" #container></div>
